<div class = "container account">
<img src = "/images/globe.png" class = "globe"/>
<h1>create your hello,world account</h1>

<div class = "form">
<form method = "POST" action = "">

First Name </br>
<input type = "text" name = "firstName">
</br></br>
Last Name </br>
<input type = "text" name = "lastName">
</br></br>
Email Address </br>
<input type = "email" name = "email">
</br></br>
Username </br>
<input type = "text" name = "username">
</br></br>
Password </br>
<input type = "password" name = "password">
</br></br>
<input type="hidden" name="slug" value="{{slug}}">

<input type = "submit" class = "button" value = "create">

</form>
<a href = "/../">< cancel</a>
</div>
</div>