<div class = "container index" id = "index">
<div class = "form">
<img src = "/images/globe.png" class = "globe"/>

<form method = "POST" action = "">
{{#if message}}
<p class = "errorMessage">{{message}}</p>
{{/if}}

Username </br>
<input type = "text" name = "username">
</br></br>
Password </br>
<input type = "password" name = "password" id = "password">
</br></br>
<input type = "submit" class = "button" value = "login">
</br></br>
</form>

<a href = "/../account">create an account!</a>
</div>
</div>


<script src="/javascripts/intro.js"></script>