<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel = "icon" type="image/png" href="/images/hwicon.png">
    <link rel='stylesheet' href='/stylesheets/hello.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
