$purple-color: rgb(40, 40, 147);
$purple-transparent: rgba(40, 40, 147, 0.13);
$button-color: rgba(146, 146, 166, 1);

/*Animations*/
@-webkit-keyframes slideIn{
	from{
		top: -185px;
	}
	to{
		top: 250px;
	}
}
@keyframes slideIn{
	from{
		top: -180px;
	}
	to{
		top: 250px;
	}
}

@-webkit-keyframes fadeOut{
	from{
		opacity: 1;
	}
}
@keyframes fadeOut{
	from{
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn{
	from{
		opacity: 0;
	}
}
@keyframes fadeIn{
	from{
		opacity: 0;
	}
}

html{
	background-color: #fff;
	font-family: futura;
	text-transform: lowercase;
	text-decoration: none;
}

h3{
	text-align: center;
}

a{
	color: $purple-color;
	text-decoration: none;
}

a:hover{
	color: $purple-transparent;
}

ul{
	list-style-type: none;
}

.container{
	background-color: $purple-transparent;
	border: 5px dashed $purple-color;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	margin: 60px auto;
}

/*Individual Pages*/

.account{
	width: 480px;
	height: 500px;
}

.add, .manage{
	width: 415px;
	height: 53%;
}

.manage{
	min-height: 600px;
}

#index{
	width: 50%;
	height: 200px;
	z-index: -1;
	margin: 35% auto;
}

.user{
	height: 500px;
	width: 75%;
	min-width: 480px;
}

.globe{
	position: absolute;
	width: 100px;
	top: -45px;
	left: -30px;
}

.addform{
	text-align: left;
	margin: 0 auto;
	width: 275px;
}

.textbox{
	height: 20px;
	border: 3px solid $purple-color;
	font-size: 14px;
}

.color{
	width: 30px;
}

.todo{
	background-color: #fff;
	width: 100%;
	height: 300px;
	border: 3px solid $purple-color;

	.list{
		border-right: 3px dashed $purple-color;
		width: 50%;
		vertical-align: text-top;;

		.tasks{
			text-align: left;
		}
	}
	.chart{
		width: 46%;
	}
}

.formPage{
	background-color: #fff;
	padding: 15px;
	border: 1px solid #000;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.button{
	background-color: $purple-color;
	border: none;
	border-radius: 5px;
	width: 150px;
	height: 25px;
	color: $button-color;
	box-shadow: -2px 2px 1px;
	font-size: 14px;
}

#myCategories{
	background-color: #fff;
	margin: 10px auto;
	padding: 10px;
	width: 60%;
	border: 1px solid;
	border-collapse: collapse;

	td{
		border: 1px solid;
	}
}

.create{
	text-align: center;
}

.introDiv{
	width: 176px;
	height: 179px;
	margin: 0 auto;
	background-color: #fff;

	#introImg{
		position: absolute;
		left: 35%;
		top: 250px;
		-webkit-animation: slideIn 3s;
		animation: slideIn 3s;
	}
}

.fadeOut{
	opacity: 0;
	-webkit-animation: fadeOut 3s;
	animation: fadeOut 3s;
}

.fadeIn{
	opacity: 1;
	visibility: visible !important;
	-webkit-animation: fadeIn 3s;
	animation: fadeIn 3s;
}

.overlay{
	width: 300px;
	height: 300px;
	margin: 0 auto;
	border-radius: 10px;
	border: 5px dashed $purple-color;
	background-color: $purple-color;
	margin-top: 30%;
	margin-bottom: 30%;
}

.cancel{
	text-align: center;
	font-size: 22px;
	color: #fff;
	border-bottom: 3px dashed;
	padding-bottom: 5px;
}










